server:
  port: 9000

spring:
  application:
    name: gateway-service

  profiles:
    active: dev              # 会去找 gateway-service-dev.yaml

  config:
    import:
      "optional:nacos:gateway-service-dev.yaml"
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.97.2:8848
        ip: 127.0.0.1
      config:
        server-addr: 192.168.97.2:8848
        namespace: public
        group: DEFAULT_GROUP
        file-extension: yaml
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: false

management:
  endpoint:
    gateway:
      enabled: true

  endpoints:
    web:
      exposure:
        include: '*'
smartlearn:
  jwt:
    secret: "SmartLearnAI-Secret-Key-For-HS256-ChangeMe-123456"
    expire-millis: 86400000   # 24 小时
